<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= "到課狀況" %></h4>
  </div>
  <div class="panel-body">
<table class="table table-striped">
  <th>人名</th>
  <th>狀態</th>
  <% @already_check_in_users.each do |already_check_in_users| %>
      <tr>
        <td><%= already_check_in_users.username %></td>
        <td><p>Success</p></td>
      </tr>
  <% end %>
  <% @not_check_in_users.each do |not_check_in_users| %>
      <tr>
        <td><%= not_check_in_users.username %></td>
        <td><p>未簽到</p></td>
      </tr>
  <% end %>

</table>
<%= link_to '返回課程清單', course_index_path , 'class' => 'btn btn-success'  %>
<%= link_to '報到', course_check_in_course_path , 'class' => 'btn btn-default'%>
</div>